@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-content: $align;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
}

.btn {
  font-size: 2rem;
}

main {
  height: calc(100vh - 8rem);
  @include flex;
  column-gap: 10rem;

  aside {
    @include flex;
  }

  .game {
    @include flex(column);
    row-gap: 3rem;
  }
}

footer {
  @include flex;
  column-gap: 3rem;
  margin: 2rem;

  img {
    width: 10rem;
  }
}
